/* sticky navbar */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(34, 33, 33);
  z-index: 1000;
  box-shadow: 1px 6px 10px #000000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0;
}

.navbar li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  color: inherit;
  cursor: pointer;
  text-shadow: 0 0 1px rgb(255, 255, 255);
  font-size: 1.2rem;
}
